<div class="toast-container">
  <div
    *ngFor="let toast of toasts$ | async; trackBy: trackById"
    class="toast-item"
    [class.toast-success]="toast.type === 'success'"
    [class.toast-error]="toast.type === 'error'"
    [class.toast-info]="toast.type === 'info'"
  >
    <i class="fas mr-2"
      [class.fa-check-circle]="toast.type === 'success'"
      [class.fa-times-circle]="toast.type === 'error'"
      [class.fa-info-circle]="toast.type === 'info'">
    </i>
    {{ toast.message }}
    <button class="toast-close" (click)="toastService.dismiss(toast.id)">&times;</button>
  </div>
</div>
